<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"   href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Where's Waldo</title>
</head>
<body>
    <header>
        <h1>Where's Waldo...</h1>
        <h4 id="time">00:00:00</h4>


    </header>


    
    <% if (player.location === "Sea") { %>

    
        <main>
            <img src= 'https://i.imgur.com/h2rW50u.jpeg' alt="Waldo" usemap="#waldomap">
    
            <map style="cursor: default" name="waldomap">
                <area style="cursor: default" shape="rect" coords="750,251,770,286"  alt="waldo" href="/<%= player._id %>/preDashboard" 
                
            </map>
        </main>


    <% } else if (player.location === "gobbling") { %>
        <main>
            <img src= 'https://i.imgur.com/lXLN6qI.jpeg' alt="Waldo" usemap="#waldomap">
    
            <map name="waldomap">
                <area shape="rect" coords="1078,557,1100,593"  alt="waldo" href="/<%= player._id %>/preDashboard" 
                
            </map>
        </main>

    <% } else if (player.location === "town") { %>
        <main>
            <img src= 'https://i.imgur.com/aE4bjhX.png' alt="Waldo" usemap="#waldomap">
    
            <map name="waldomap">
                <area shape="rect" coords="818,749,899,770"  alt="waldo" href="/<%= player._id %>/preDashboard" 
                
            </map>
        </main>

    <% } else if (player.location === "fortress") { %>
        <main>
            <img src= 'https://i.imgur.com/R7yC6nG.jpeg' alt="Waldo" usemap="#waldomap">
    
            <map name="waldomap">
                <area shape="rect" coords="2130,1377,2146,1402"  alt="waldo" href="/<%= player._id %>/preDashboard" 
                
            </map>
        </main>

    <% } else if (player.location === "middleages") { %>
        <main>
            <img src= 'https://i.imgur.com/Uf7AW8t.jpeg' alt="Waldo" usemap="#waldomap">
    
            <map name="waldomap">
                <area shape="rect" coords="2608,1139,2646,1196"  alt="waldo" href="/<%= player._id %>/preDashboard" 
                
            </map>
        </main>

    <% } else if (player.location === "underground") { %>
        <main>
            <img src= 'https://i.imgur.com/UDlUbGx.jpeg' alt="Waldo" usemap="#waldomap">
    
            <map name="waldomap">
                <area shape="rect" coords="2502,91,2513,216"  alt="waldo" href="/<%= player._id %>/preDashboard" 
                
            </map>
        </main>

    
    <% } else if (player.location === "giants") { %>       
        <main>
            <img src= 'https://i.imgur.com/yiPMpD2.jpeg' alt="Waldo" usemap="#waldomap">
    
            <map name="waldomap">
                <area shape="rect" coords="1443,1621,1464,1666"  alt="waldo" href="/<%= player._id %>/preDashboard" 
                
            </map>
        </main>


        <% } else if (player.location === "foresters") { %>  
        <main>
            <img src= 'https://i.imgur.com/fAdxAN5.jpeg' alt="Waldo" usemap="#waldomap">
    
            <map name="waldomap">
                <area shape="rect" coords="2446,1770,2468,1817"  alt="waldo" href="/<%= player._id %>/preDashboard" 
                
            </map>
        </main>


    <% } else if (player.location === "movie") { %>   
        <main>
            <img src= 'https://i.imgur.com/KSYXCo9.jpeg' alt="Waldo" usemap="#waldomap">
    
            <map name="waldomap">
                <area shape="rect" coords="954,1352,986,1389"  alt="waldo" href="/<%= player._id %>/preDashboard" 
                
            </map>
        </main>

    <% } else if (player.location === "athletics") { %>   
    <main>
        <img src= 'https://i.imgur.com/QvduzDM.jpeg' alt="Waldo" usemap="#waldomap">

        <map name="waldomap">
            <area shape="rect" coords="292,1684,326,1773"  alt="waldo" href="/<%= player._id %>/preDashboard" 
            
        </map>
    </main>

<% } else if (player.location === "maze") { %>   
    <main>
        <img src= 'https://i.imgur.com/WwJXwBa.jpeg' alt="Waldo" usemap="#waldomap">

        <map name="waldomap">
            <area shape="rect" coords="1856,800,1877,820"  alt="waldo" href="/<%= player._id %>/preDashboard" 
            
        </map>
    </main>

<% } else if (player.location === "space") { %>  
    <main>
        <img src= 'https://i.imgur.com/NYM1HT5.jpeg' alt="Waldo" usemap="#waldomap">

        <map name="waldomap">
            <area shape="rect" coords="821,943,839,999"  alt="waldo" href="/<%= player._id %>/preDashboard" 
            
        </map>
    </main>

<% } else if (player.location === "ski") { %>  
    <main>
        <img src= 'https://i.imgur.com/R14wDip.jpeg' alt="Waldo" usemap="#waldomap">

        <map name="waldomap">
            <area shape="rect" coords="821,943,839,999"  alt="waldo" href="/<%= player._id %>/preDashboard" 
            
        </map>
    </main>

<% } else if (player.location === "brawl") { %>  
    <main>
        <img src= 'https://i.imgur.com/VdLv6QP.jpeg' alt="Waldo" usemap="#waldomap">

        <map name="waldomap">
            <area shape="rect" coords="1912,57,1934,97"  alt="waldo" href="/<%= player._id %>/preDashboard" 
            
        </map>
    </main>

<% } else if (player.location === "midieval") { %>  
    <main>
        <img src= 'https://i.imgur.com/lQBvBRL.jpeg' alt="Waldo" usemap="#waldomap">

        <map name="waldomap">
            <area shape="rect" coords="1388,466,1421,498"  alt="waldo" href="/<%= player._id %>/preDashboard" 
            
        </map>
    </main>

    <% } %>


<script>
const timer = document.querySelector('#time');
const start_btn = document.querySelector('#start_btn');
const pause_btn = document.querySelector('#pause_btn');
const reset_btn = document.querySelector('#reset_btn');

let time = 0,
  interval;

function showTime() {
  time += 1;
  timer.innerHTML = toHHMMSS(time);
}

function start() {
  interval = setInterval(showTime, 1000);

}

function pause() {
  if (interval) {
    clearInterval(interval);
    interval = null;
    pause_btn.innerHTML = 'RESUME';
  } else {
    interval = setInterval(showTime, 1000);
    pause_btn.innerHTML = 'PAUSE';
  }
}

function reset() {
  clearInterval(interval);
  interval = null;
  pause_btn.innerHTML = 'PAUSE';
  time = 0;
  timer.innerHTML = toHHMMSS(time);
  hideBtn([pause_btn, reset_btn]);
  showBtn([start_btn]);
}

function toHHMMSS(time) {
  let hours = Math.floor(time / 3600);
  let minutes = Math.floor((time - hours * 3600) / 60);
  let seconds = time - hours * 3600 - minutes * 60;

  hours = `${hours}`.padStart(2, '0');
  minutes = `${minutes}`.padStart(2, '0');
  seconds = `${seconds}`.padStart(2, '0');

  return hours + ':' + minutes + ':' + seconds;
}

function showBtn(btnArr) {
  btnArr.forEach((btn) => (btn.style.display = 'inline-block'));
}
function hideBtn(btnArr) {
  btnArr.forEach((btn) => (btn.style.display = 'none'));
}


start();

</script>   
</body>
</html>