<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"   href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Where's Waldo</title>
</head>
<body>
    <header>
        <h1>Where's Waldo...</h1>
        <h4 id="time">00:00:00</h4>


    </header>


    <% const randNum = Math.floor(Math.random() * 15) + 1 %>


    <% if (randNum === 1) { %>
        <main>
            <img src= 'https://i.imgur.com/h2rW50u.jpeg' alt="Waldo" usemap="#waldomap">
    
            <map style="cursor: default" name="waldomap">
                <area style="cursor: default" shape="rect" coords="750,251,770,286"  alt="waldo" href="/<%= player._id %>/preDashboard" 
                
            </map>
        </main>


    <% } else if (randNum === 2) { %>
        <main>
            <img src= 'https://i.imgur.com/lXLN6qI.jpeg' alt="Waldo" usemap="#waldomap">
    
            <map name="waldomap">
                <area shape="rect" coords="1078,557,1100,593"  alt="waldo" href="/<%= player._id %>/preDashboard" 
                
            </map>
        </main>

    <% } else if (randNum === 3) { %>
        <main>
            <img src= 'https://i.imgur.com/aE4bjhX.png' alt="Waldo" usemap="#waldomap">
    
            <map name="waldomap">
                <area shape="rect" coords="818,749,899,770"  alt="waldo" href="/<%= player._id %>/preDashboard" 
                
            </map>
        </main>

    <% } else if (randNum === 4) { %>
        <main>
            <img src= 'https://i.imgur.com/R7yC6nG.jpeg' alt="Waldo" usemap="#waldomap">
    
            <map name="waldomap">
                <area shape="rect" coords="2130,1377,2146,1402"  alt="waldo" href="/<%= player._id %>/preDashboard" 
                
            </map>
        </main>


    <% } else if (randNum === 5) { %>
        <main>
            <img src= 'https://i.imgur.com/Uf7AW8t.jpeg' alt="Waldo" usemap="#waldomap">
    
            <map name="waldomap">
                <area shape="rect" coords="2608,1139,2646,1196"  alt="waldo" href="/<%= player._id %>/preDashboard" 
                
            </map>
        </main>

    <% } else if (randNum === 6) { %>
        <main>
            <img src= 'https://i.imgur.com/UDlUbGx.jpeg' alt="Waldo" usemap="#waldomap">
    
            <map name="waldomap">
                <area shape="rect" coords="2502,91,2513,216"  alt="waldo" href="/<%= player._id %>/preDashboard" 
                
            </map>
        </main>

    
    <% } else if (randNum === 7) { %>
        <main>
            <img src= 'https://i.imgur.com/fAdxAN5.jpeg' alt="Waldo" usemap="#waldomap">
    
            <map name="waldomap">
                <area shape="rect" coords="1443,1621,1464,1666"  alt="waldo" href="/<%= player._id %>/preDashboard" 
                
            </map>
        </main>


    <% } else if (randNum === 8) { %>
        <main>
            <img src= 'https://i.imgur.com/yiPMpD2.jpeg' alt="Waldo" usemap="#waldomap">
    
            <map name="waldomap">
                <area shape="rect" coords="2446,1770,2468,1817"  alt="waldo" href="/<%= player._id %>/preDashboard" 
                
            </map>
        </main>


    <% } else if (randNum === 9) { %>
        <main>
            <img src= 'https://i.imgur.com/KSYXCo9.jpeg' alt="Waldo" usemap="#waldomap">
    
            <map name="waldomap">
                <area shape="rect" coords="954,1352,986,1389"  alt="waldo" href="/<%= player._id %>/preDashboard" 
                
            </map>
        </main>

    <% } else if (randNum === 10) { %>
    <main>
        <img src= 'https://i.imgur.com/QvduzDM.jpeg' alt="Waldo" usemap="#waldomap">

        <map name="waldomap">
            <area shape="rect" coords="292,1684,326,1773"  alt="waldo" href="/<%= player._id %>/preDashboard" 
            
        </map>
    </main>


    <% } else if (randNum === 11) { %>
    <main>
        <img src= 'https://i.imgur.com/WwJXwBa.jpeg' alt="Waldo" usemap="#waldomap">

        <map name="waldomap">
            <area shape="rect" coords="1856,800,1877,820"  alt="waldo" href="/<%= player._id %>/preDashboard" 
            
        </map>
    </main>

    <% } else if (randNum === 12) { %>
    <main>
        <img src= 'https://i.imgur.com/NYM1HT5.jpeg' alt="Waldo" usemap="#waldomap">

        <map name="waldomap">
            <area shape="rect" coords="821,943,839,999"  alt="waldo" href="/<%= player._id %>/preDashboard" 
            
        </map>
    </main>

    <% } else if (randNum === 13) { %>
    <main>
        <img src= 'https://i.imgur.com/R14wDip.jpeg' alt="Waldo" usemap="#waldomap">

        <map name="waldomap">
            <area shape="rect" coords="821,943,839,999"  alt="waldo" href="/<%= player._id %>/preDashboard" 
            
        </map>
    </main>

    <% } else if (randNum === 14) { %>
    <main>
        <img src= 'https://i.imgur.com/VdLv6QP.jpeg' alt="Waldo" usemap="#waldomap">

        <map name="waldomap">
            <area shape="rect" coords="1912,57,1934,97"  alt="waldo" href="/<%= player._id %>/preDashboard" 
            
        </map>
    </main>

    <% } else if (randNum === 15) { %>
    <main>
        <img src= 'https://i.imgur.com/lQBvBRL.jpeg' alt="Waldo" usemap="#waldomap">

        <map name="waldomap">
            <area shape="rect" coords="1388,466,1421,498"  alt="waldo" href="/<%= player._id %>/preDashboard" 
            
        </map>
    </main>

    <% } %>